<%@ Master Language="C#" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <link href="/Content/site.css" rel="stylesheet" />
</head>
<body>
    <a href="/">[ Home ]</a><hr />
    <div id="app" v-cloak>
        <asp:ContentPlaceHolder id="body" runat="server"></asp:ContentPlaceHolder>
    </div>
    <placeholder runat="server" id="vuescript"></placeholder>
    <script src="/Content/addons.js"></script>
</body>
</html>
