<%@ Master Language="C#" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <script src="/Content/addons.js"></script>
    <link href="/Content/site.css" rel="stylesheet" />
</head>
<body>
    <a href="/">[ Home ]</a><hr />
    <vue:AppControl runat="server" id="app">
        <div>
            <asp:ContentPlaceHolder id="body" runat="server"></asp:ContentPlaceHolder>
        </div>
    </vue:AppControl>
    </div>
</body>
</html>
