.vue-page {
    animation-duration: 2s;
    animation-fill-mode: both;

    position: absolute;
    top: 110px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.vue-page-active {
}

.slide-left-in {
    animation-name: slideInLeft;
}

.slide-left-out {
    animation-name: slideOutLeft;
    display: block;
}

.slide-right-in {
    animation-name: slideInRight;
}

.slide-right-out {
    animation-name: slideOutRight;
    display: block;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(+100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}


@keyframes slideInRight {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(+100%, 0, 0);
    }
}