.vue-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: +99999;
}
.vue-overlay:after {
    position: relative;
    left: calc(50% - 35px);
    top: calc(50% - 30px);
    content: 'Loading...';
    color: black;
    font-weight: bold;
    font-family: Verdana;
    font-size: 15px;
    background-color: rgba(200, 200, 200, .8);
    padding: 12px 15px;
    border-radius: 3px;
}
.vue-container {
    border: 1px solid red;
    padding: 20px;
    position: relative;
    height: 300px;
}

.vue-page {
    border: 1px solid blue;
    padding: 20px;
    display: none;

    animation-duration: 1s;
    animation-fill-mode: both;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.vue-page-active {
    display: block;
    visibility: hidden;
}

.slide-left-in {
    animation-name: slideInLeft;
}

.slide-left-out {
    animation-name: slideOutLeft;
    display: block;
}

.slide-right-in {
    animation-name: slideInRight;
}

.slide-right-out {
    animation-name: slideOutRight;
    display: block;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(+100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}


@keyframes slideInRight {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(+100%, 0, 0);
    }
}