.vue-container {
    border: 1px solid red;
    padding: 20px;
}

.vue-page {
    border: 1px solid blue;
    padding: 20px;
    display: none;
}

.vue-page-active {
    display: block;
    visibility: hidden;
}