.vue-container {
    min-height: 100%;
    width: 100%; 
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch;
}

.vue-page {
    display: none;
    min-height: 100%;
}

.vue-page-active {
    display: block;
}
